<div class="container">
  <div class="big-card-img">
    <img src="https://miro.medium.com/v2/resize:fit:1400/1*bMgQ8MhbnQexpqHgIgBJPA.png"
    alt="image placeholder"
    height="350px"
    width="600px"
    >
  </div>
    <a href="#">
      <div class="big-card-title">
        <h1>Vamos Falar Sobre o Teste do Blog</h1>
      </div>
    </a>
    <div class="big-card-description">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus modi omnis animi magni ratione, eaque iste laborum aliquid architecto, quaerat voluptatum assumenda, iusto eius. Magnam at quidem amet incidunt laudantium.</p>
    </div>
  </div>
